In [1]:
import re

### Regex Functions
<br>

| Function | Description                                                       |
|----------|-------------------------------------------------------------------|
| findall  | Returns a list containing all matches                             |
| search   | Returns a Match object if there is a match anywhere in the string |
| split    | Returns a list where the string has been split at each match      |
| sub      | Replaces one or many matches with a string                        |

Search the string to see if it starts with "The" and ends with "Spain":

In [5]:
txt = "The rain in Spain"
result = re.search("^The.*Spain$", txt)

In [6]:
if result:
    print('Yes! We have a match!')
else:
    print('No Match')

Yes! We have a match!

Search the string to see it starts with #

In [7]:
tweet = "wow!, it is a natural beauty. #nature #beautiful #"

x = re.findall('#[_]*[a-z]+', tweet)
x

['#nature', '#beautiful']

Search a word the contains inappropriate word

In [9]:
tweet = "I hate this f**king news"

x = re.sub('f[a-z]*\*+[a-z]*', '**sensored**', tweet)
x

'I hate this **sensored** news'

Split a word

In [11]:
txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

### Meta characters

In [12]:
# []
txt = "The rain in Spain"

#Find all lower case characters alphabetically between "a" and "m":
x = re.findall("[a-m]", txt)
print(x)

['h', 'e', 'a', 'i', 'i', 'a', 'i']

In [13]:
# \
txt = "That will be 59 dollars"

#Find all digit characters:
x = re.findall("\d", txt)
print(x)

['5', '9']

In [14]:
# .
txt = "hello planet"

#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":
x = re.findall("he..o", txt)
print(x)

['hello']

In [15]:
# ^
txt = "hello world"

#Check if the string starts with 'hello':
x = re.findall("^hello", txt)
if x:
    print("Yes, the string starts with 'hello'")
else:
    print("No match")

Yes, the string starts with 'hello'

In [18]:
# $
txt = "hello world"

#Check if the string ends with 'world':
x = re.findall("world$", txt)
if x:
    print("Yes, the string ends with 'planet'")
else:
    print("No match")

Yes, the string ends with 'planet'

In [20]:
# *
txt = "hello planet"

#Search for a sequence that starts with "he", followed by 0 or more (any) characters, and an "o":
x = re.findall("he.*o", txt)
print(x)

['hello']

In [25]:
# +
txt = "helo planet"

#Search for a sequence that starts with "he", followed by 1 or more (any) characters, and an "o":
x = re.findall("he.+o", txt)
print(x)

['helo']

In [29]:
# ?
txt = "hello planet"

#Search for a sequence that starts with "he", followed by 0 or 1  (any) character, and an "o":
x = re.findall("he.?o", txt)
print(x)

#This time we got no match, because there were not zero, not one, but two characters between "he" and the "o"

[]

In [32]:
# {}
txt = "hello planet"

#Search for a sequence that starts with "he", followed excactly 2 (any) characters, and an "o":
x = re.findall("he.{2}o", txt)
print(x)

['hello']

In [35]:
# |
txt = "The rain in Spain falls mainly in the plain!"

#Check if the string contains either "falls" or "stays":
x = re.findall("falls|stays", txt)
print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

['falls']
Yes, there is at least one match!

### Practice

In [36]:
date = "23 oct 2019 23 oct, 2019 23 october, 2019, 2019 oct 26,2020"
x = re.findall('\d{2} [a-z]{3} \d{4}', date)
x

['23 oct 2019']

In [37]:
text = "The cost of mobile is $1000"
x = re.sub('\$\d+','_', text)
x

'The cost of mobile is _'

In [38]:
text = "refer to http://medium.com"
x = re.sub('http[s]?\://\S+','', text)
x

'refer to '

In [51]:
text = "refer to https://medium.com"
x = re.sub('http[s]?\://','', text)
x

'refer to medium.com'

In [52]:
short_sentence = " \t AI adalah teknologi kunci\t"
print(short_sentence)

 	 AI adalah teknologi kunci

In [53]:
no_strip = short_sentence.strip()
print(no_strip)

AI adalah teknologi kunci